extends layout

block content
  #left_panel
    #map
    #map_search
      input#search(type="search", placeholder="Search...")
      ul#results
  #right_panel
  script(src="/javascripts/leaflet_numbered_markers.js")
  script(src="/javascripts/main.js")
