doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    link(link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js')
    link(link rel='stylesheet' href='/stylesheets/pelias-leaflet-geocoder.css')
    script(src='/javascripts/pelias-leaflet-geocoder.js')
    //script(src="/javascripts/leaflet_numbered_markers.js")
  body
    block content
