<!DOCTYPE html>
<html>
<head>
  <title>Test Geocoding Ma</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js"></script>
  <link rel="stylesheet" href="pelias-leaflet-geocoder.css">
  <script src="pelias-leaflet-geocoder.js"></script>
  <style>
    #map {
      height: 50%;
      width: 40%;
      position: absolute;
    }
    html,body{margin: 10; padding: 0}
  </style>

</head>
<body>
  <div id="map"></div>
  <script>
    var map = L.map('map').setView([37.804146, -122.275045], 16);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    }).addTo(map);

    var geocoder = L.control.geocoder('search-GL1-fZE ').addTo(map);
  </script>
</body>
</html>
